<div class="container">
    {{> header}}
    <div id="book" class="box-large">
        <div id="list">
            <h1>Contacts</h1>
            <div class="content">
                {{> contacts_list}}
            </div>
        </div>
        <div id="details">
            <h1>Details</h1>
            <div class="content">
                {{> contact_details}}
            </div>
        </div>
    </div>
    {{> footer}}
</div>