<div class="card col-md-4">
    <img class="image" src="images/{{imageLocation}}.jpg" alt="Card image cap">
    <div class="card-block">
        <button id="infoBtn" class="btn btn-primary">Show status code</button>
        <div class="status-info" style="display: none" id="{{id}}">
            <h4 class="card-title">Status Code: <span class="status-code">{{statusCode}}</span></h4>
            <p class="card-text">{{statusMessage}}</p>
        </div>
    </div>
</div>